.index {
  max-width: 10rem;
  margin: 0 auto;
  position: relative;
}
.header {
  height: 1.17333333rem;
  background: #ff646d;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header img {
  width: 2.57333333rem;
  height: 0.61333333rem;
}
.indexSwipe img {
  width: 100%;
  height: 3.84rem;
  display: block;
}
.ulList li {
  height: 3.73333333rem;
  background: #ffffff;
  box-shadow: 0rem 0rem 0.36rem 0rem rgba(41, 42, 50, 0.07);
  border-radius: 0.08rem;
  box-sizing: border-box;
  margin-bottom: 0.26666667rem;
  list-style: none;
  cursor: pointer;
  width: 100%;
  padding: 0.34666667rem 0;
}
.ulList li > p {
  display: flex;
  align-items: center;
  font-size: 0.4rem;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #666666;
  margin-left: 0.34666667rem;
}
.ulList li .divContainer {
  display: flex;
  align-items: inherit;
  justify-content: space-between;
  margin: 0.26666667rem 0.34666667rem 0;
}
.ulList li .divContainer1 {
  display: flex;
  align-items: inherit;
  justify-content: space-between;
  margin: 0.26666667rem 0 0;
}
.ulList li > p > img {
  width: 0.08rem;
  height: 0.4rem;
  margin-right: 0.21333333rem;
}
.ulList li .left {
  width: 2.16rem;
  height: 2.32rem;
  border-radius: 0.08rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.22666667rem;
  flex-shrink: 0;
  flex-wrap: wrap;
}
.ulList li .left img {
  width: 1.2rem;
  height: 1.2rem;
}
.ulList li .left p {
  width: 100%;
  text-align: center;
  font-size: 0.37333333rem;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #fffefe;
}
.ulList li .left1 {
  background: #ff6766;
}
.ulList li .left2 {
  background: #fdb53f;
}
.ulList li .left3 {
  background: #2ab4ff;
}
.ulList li .left4 {
  background: #a273ff;
}
.ulList li .left5 {
  background: #37d4a7;
}
.ulList li .right {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}
.ulList li .right .rightDiv {
  width: 2.16rem;
  height: 1.06666667rem;
  border-radius: 0.08rem;
  margin-bottom: 0.18666667rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.37333333rem;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #fffefe;
}
.ulList li .swiper-wrapper .swiper-slide .rightOther {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0.26666667rem 0.06666667rem 0;
}
.ulList li .swiper-wrapper .swiper-slide .rightOther .rightDiv {
  width: 2.16rem;
  height: 1.06666667rem;
  border-radius: 0.08rem;
  margin-bottom: 0.18666667rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.37333333rem;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #fffefe;
  margin-right: 0.21333333rem;
  flex-shrink: 0;
}
.ulList li .swiper-wrapper .swiper-slide .rightOther .rightDiv:nth-child(4n) {
  margin-right: 0;
}
.ulList li .swiper-wrapper .swiper-slide .rightOther .rightDiv {
  width: 2.16rem;
  height: 1.06666667rem;
  border-radius: 0.08rem;
  margin-bottom: 0.18666667rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.37333333rem;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #fffefe;
}
.ulList li .right .rightDiv:nth-child(2) {
  margin-right: 0.21333333rem;
  margin-left: 0.21333333rem;
}
.ulList li .right .rightDiv:nth-child(5) {
  margin-right: 0.21333333rem;
  margin-left: 0.21333333rem;
}
.ulList li .rightDiv1 {
  background: url("../images/card1.png") no-repeat center;
}
.ulList li .rightDiv2 {
  background: url("../images/card2.png") no-repeat center;
}
.ulList li .rightDiv3 {
  background: url("../images/card3.png") no-repeat center;
}
.ulList li .rightDiv4 {
  background: url("../images/card4.png") no-repeat center;
}
.ulList li .rightDiv5 {
  background: url("../images/card5.png") no-repeat center;
}
.swiper-container1.swiper-container .swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  width: 0.58666667rem;
  height: 1.46666667rem;
  background: url("../images/right.png") no-repeat center;
  background-size: 100%;
  right: 0rem;
  margin-top: -0.73333333rem;
}
.swiper-container1.swiper-container .swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  width: 0.58666667rem;
  height: 1.46666667rem;
  background: url("../images/left.png") no-repeat center;
  background-size: 100%;
  left: 0rem;
  margin-top: -0.73333333rem;
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0 !important;
}
.swiper-container1 .swiper-slide {
  padding: 0 0.34666667rem;
  box-sizing: border-box;
}
.detailContainer {
  max-width: 10rem;
  margin: 0 auto;
  position: relative;
}
.detail li {
  min-height: 4.58666667rem;
  background: #ffffff;
  box-shadow: 0rem 0rem 0.36rem 0rem rgba(41, 42, 50, 0.07);
  border-radius: 0.08rem;
  padding: 0.4rem 0.4rem 0;
  box-sizing: border-box;
  margin-bottom: 0.21333333rem;
  list-style: none;
  cursor: pointer;
}
.detail li .top {
  display: flex;
  padding-bottom: 0.24rem;
  border-bottom: 0.01333333rem solid #dcdcdc;
}
.detail li .top .left {
  width: 2.4rem;
  height: 2.8rem;
  margin-right: 0.37333333rem;
  position: relative;
}
.detail li .top .left .imgUrl {
  width: 2.4rem;
  height: 2.8rem;
}
.detail li .top .right {
  flex-grow: 1;
}
.detail li .top .right .p1 {
  font-size: 0.42666667rem;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #303139;
}
.detail li .top .right .p2 {
  font-size: 0.32rem;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #666666;
  margin: 0.13333333rem 0.2rem;
}
.detail li .top .right .p3 {
  font-size: 0.32rem;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #b2b2b3;
}
.detail li .top .right .p4 {
  padding: 0 0.10666667rem;
  height: 0.53333333rem;
  background: #ff646d;
  border-radius: 0.06666667rem;
  text-align: center;
  line-height: 0.57333333rem;
  margin-right: 0.18666667rem;
  font-size: 0.32rem;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #ffffff;
}
.detail li .top .right .p5 {
  font-size: 0.32rem;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #aaaaaa;
  line-height: 0.4rem;
}
.detail li .top .right .p6 {
  font-size: 0.32rem;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #ff0505;
}
.detail li .top .right .p7 {
  font-size: 0.48rem;
  font-family: MicrosoftYaHei-Bold;
  font-weight: bold;
  color: #ff0505;
}
.detail li .top .right .div1 {
  display: flex;
  align-items: center;
  margin: 0.13333333rem 0 0.2rem;
}
.detail li .top .right .div2 {
  display: flex;
  align-items: center;
}
.detail li .top .right .div3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.26666667rem;
}
.detail li .top .right .div3 > div:last-child {
  display: flex;
  align-items: center;
}
.detail li .top .right .div3 > div:first-child {
  display: flex;
  align-items: center;
}
.detail li .top .right .div3 > div:last-child {
  flex-shrink: 0;
  margin-left: 0.06666667rem;
}
.detail li .top .right .div3 img {
  width: 0.26666667rem;
  height: 0.29333333rem;
  margin-right: 0.05333333rem;
}
.bottom {
  display: flex;
  align-items: initial;
  font-size: 0.32rem;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #b2b2b3;
  padding: 0.26666667rem 0;
  box-sizing: border-box;
  line-height: 0.48rem;
}
.bottom img {
  width: 0.34666667rem;
  height: 0.32rem;
  margin-right: 0.08rem;
  margin-top: 0.13333333rem;
}
.left1 {
  background: url("../images/top1.png") no-repeat top;
  z-index: 10;
}
.topImg {
  position: absolute;
  width: 1.8rem;
  height: 0.49333333rem;
  left: 0.29333333rem;
  top: 0;
}
.star {
  display: flex;
  align-items: center;
}
.staritem {
  width: 0.30666667rem;
  height: 0.29333333rem;
  margin-right: 0.05333333rem;
}
/*全星星*/
.onstar {
  background: url('../images/star-light.png') no-repeat center;
  background-size: 100%;
  width: 0.30666667rem;
  height: 0.29333333rem;
}
.halfstar {
  background: url('../images/half.png') no-repeat center;
  background-size: 100%;
  width: 0.30666667rem;
  height: 0.29333333rem;
}
.offstar {
  background: url('../images/star-grey.png') no-repeat center;
  background-size: 100%;
  width: 0.30666667rem;
  height: 0.29333333rem;
}
.content-sidebar {
  display: none;
  position: fixed;
  top: 0;
  height: 4.08rem;
  width: 3.46666667rem;
  margin-top: 1.33333333rem;
  z-index: 1000000;
  text-align: center;
  font-size: 0.26666667rem;
  color: #8e8e8e;
  background: white;
  border-radius: 0.13333333rem;
}
.content-sidebar img {
  display: block;
  width: 2.93333333rem;
  height: 2.93333333rem;
  margin: 0.13333333rem auto 0;
}
.authBtn_container {
  position: fixed;
  bottom: 2.4rem;
  left: 26px;
  width: 0.53333333rem;
  height: 0.53333333rem;
  z-index: 10;
}
.pulse {
  position: absolute;
  width: 1.46666667rem;
  height: 1.46666667rem;
  left: -0.13333333rem;
  top: -0.13333333rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
  background: #dc641d;
  -webkit-animation: warn 3s ease-out;
  -moz-animation: warn 3s ease-out;
  animation: warn 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.dot {
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  left: 0;
  top: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  z-index: 2;
  background: rgba(220, 100, 29, 0.7);
  font-size: 0.32rem;
  color: #fff;
  text-align: center;
  padding-top: 0.2rem;
  box-sizing: border-box;
}
.dot p {
  line-height: 0.4rem;
}
@keyframes warn {
  from {
    opacity: 1;
    -webkit-transform: scale(0) translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(1.5) translate3d(0, 0, 0);
  }
}
@-webkit-keyframes warn {
  from {
    opacity: 1;
    -webkit-transform: scale(0) translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(1.5) translate3d(0, 0, 0);
  }
}
